.root {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
  background: var(--color-bg-primary);
}

.main {
  flex: 1;
  padding: var(--space-7) 0;
}

.container {
  max-width: var(--content-max-w);
  margin: 0 auto;
  padding: 0 var(--content-padding);
}